@font-face {
    font-family: 'TWK';
    src: url('/assets/fonts/TWKLausannePan-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK';
    src: url('/assets/fonts/TWKLausannePan-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TWK';
    src: url('/assets/fonts/TWKLausannePan-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'TWK';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-family: 'TWK';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: white;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3 {
    font-family: 'TWK';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-family: 'TWK';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: white;
    opacity: 0.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}